@charset "utf-8";
@font-face {
  font-family: 'tuniu';
  src: url('../fonts/tuniu_2.ttf');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'tuniu' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: top;
  border: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
html{
	font-family:"Helvetica"!important;
}
#main{
	width:100%;
	background:#f0f0f0;
	padding-bottom:2.6rem;
}
.history-opration{
	position: absolute;
	top:1rem;
	left:1rem;
	z-index:10;
	transform: translate3d(0,0,0);
	background-color: ;
}
.history-opration .back{
	display: block;
	width:3.5rem;
	height:3.5rem;
	line-height:3.5rem;
	border-radius:50%;
	background-color:rgba(0,0,0,0.5);
	font-size:1.6rem;
	text-align:center;
	text-indent:-2px;
	cursor:pointer;	
}
.history-opration  .icon-titleback{
	color:white;
}
.icon-titleback:before{
	content:"\e65d";
}
.banner{
	padding-top:50%;
	z-index: 1;
	position:relative;
}
.banner-slide{
	width:100%;
	padding-top:50%;
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
}
.banner-slideul{
	width:300%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
#banner-slideul{
	width:300%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
#banner-slideul li{
	width:33.333333%;
	height:100%;
	float:left;
}
#banner-slideul li img{
	width:100%;
	height:100%;
}
.banner-indicator{
	position:absolute;
  bottom:3.5rem;
  left:45%;
  z-index:2;
}
.bili{
	width:0.6rem;
	height:0.6rem;
	float:left;
	margin-right:0.7rem;
	border-radius:100%;
	background-color:rgba(255,255,255,0.8);
}
.biligreen{
	width:0.6rem;
	height:0.6rem;
	float:left;
	margin-right:0.7rem;
	border-radius:100%;
	background-color: #33bd61;
}
#banner-info{
	position:absolute;
	bottom:0;
	width:100%;
	height:2.5rem;
	line-height:2.5rem;
	background-color:rgba(0,0,0,0.4);
	color:#fff;
	font-size:1.2rem;
	padding:0 1rem;
	box-sizing:border-box;
}
#banner-info span{
  float:left;
  line-height:2.6rem;
  margin-right:1.2rem;
}
#banner-info .icon-group{
	margin-right:0.8rem;
	display:block;
	height:100%;
}
.icon-group:before{
  content: "\e622";
}
#banner-info .product-id{
	 float: right;
   margin-right: 0px;
   font-family: "Arial";
}
#brief-block{
	  border-bottom: 0.1rem solid #d4d4d4;
    font-size: 1.2rem;
    background: #fff;
    padding: 0.6rem 1rem;
    margin-bottom:1rem;
}
#brief-block .title-ctn{
	  position:relative;
	  padding-right:6rem;
}
#brief-block .price-sale-ctn{
	 font-size:1.2rem; 
	 display:block;
	 content:" ";
	 display:table;
}
#brief-block .title{
    font-size:1.1rem;
    line-height:2.2rem;
    color:#333;
    min-height:4.4rem;
    padding-right:1rem;
    font-weight:600;
}
#brief-block .satisy-degree{
	  position:absolute;
    top:50%;
    right:0;
    border-left:0.1rem solid #ccc;
    padding-left:1rem;
    width:5rem;
    text-align:center;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    font-size:1.1rem;
    color:#999;
}
#brief-block .satisy-degree em{
	  display:block;
	  font-size:2.0rem;
	  color:#ff7800;
}
#brief-block .price-sale-ctn .price-ctn{
	  float:left;
    color:#ff7c70;
    font-size:1.2rem;
    margin-bottom:0.5rem;
    position:relative;
    width:100%;
}
.price-ctn .price-label{
	margin-right:0.5rem;
}
.price-ctn .money-symbol{}
.price-ctn .price{
	  position: relative;
    top: 0.2rem;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: normal;
    font-family: "Arial";
}
.price-ctn .old-price{
	  color:#999;
    margin-left:0.8rem;
    margin-right:0.5rem;
    text-decoration:line-through;
}
#installment{
	  font-size: 0;
    position: relative;
    border: 0.1rem solid #d4d4d4;
    height: 4.2rem;
    padding-bottom: 1rem;
    background-color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#installment .image{
	  width: 30%;
    height: 100%;
    background-image:url(../img/daban/installment-a.png); 
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-x: 1rem;
    background-position-y: 0.8rem;
    display: inline-block;
    vertical-align: bottom;
}
#installment .desc{
	  font-size: 0;
    color: #666;
    padding-left: 3%;
    width: 63%;
    max-height: 3.6rem;
    position: relative;
    bottom: 0.5rem;
    display: inline-block;
    vertical-align: bottom;
}
.more{
	  content: '';
    position: absolute;
    top: 2.1rem;
    right: 1rem;
    width: 0.8rem;
    height: 0.8rem;
    border-top: 0.1rem solid #999;
    border-right: 0.1rem solid #999;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.desc span:nth-of-type(1){
	  font-size: 1.6rem;
	  display: inline-block;
    vertical-align: bottom;
}
.desc span:nth-of-type(2){
	  font-size: 1.2rem;
    width: 63%;
    line-height: 1.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: bottom;
}
.hc-block{
	  margin: 1rem 0;
    padding: 0 1rem;
    border-top: 0.1rem solid #d4d4d4;
    border-bottom:  0.1rem solid #d4d4d4;
    position: relative;
    background-color: #fff;
}
.saleInfo .header{
	  margin-right: -1rem;
    height: 3rem;
    line-height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: solid 0.1rem #d4d4d4;
}
.hc-block .header{
	  position: relative;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: 1rem 0;
}
.saleInfo .header .title{
	  position: absolute;
    top: 1rem;
    left: 0rem;
    font-size: 1.5rem;
    line-height: 3rem;
}
.hc-block .header .title{
	  color: #333;
    margin-right: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.saleInfo .header .sale-tag-list{
	  margin: 0.6rem 0;
    padding: 0 5rem 0 7rem;
    height: 1.8rem;
    overflow: hidden;
    content: "";
    display: table;
}
.saleInfo .header .sale-tag-list>li{
	  float: left;
    height: 1.8rem;
    line-height: 1.8rem;
    margin-left: 0.5rem;
    padding: 0 0.6rem;
    background: #ff7800;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 0.2rm;
}
.saleInfo .header .sale-count{
	  position: absolute;
    right: 2.5rem;
    top: 1.5rem;
    color: #999;
    font-size: 1.2rem;
    line-height: 2rem;
    background: #fff;
}
.saleInfo .header .coupon-tag-list{
	  margin: 0.6rem 0;
    padding: 0 2rem 0 7rem;
    height: 1.8rem;
    overflow: hidden;
    content: "";
    display: table;
}
.saleInfo .header .coupon-tag-list>li{
	  float: left;
    height: 1.6rem;
    line-height: 1.6rem;
    margin-left: 0.5rem;
    padding: 0 0.6rem;
    border: solid 0.1rem #ff7800;
    color: #ff7800;
    font-size: 1.2rem;
    border-radius: 0.2rem;
}
.hc-block{
	  margin: 1rem 0;
    padding: 0 1rem;
    border-top: 0.1rem solid #d4d4d4;
    border-bottom: 0.1rem solid #d4d4d4;
    position: relative;
    background-color: #fff;
}
.hc-block .header{
	  position: relative;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: 1rem 0;
}
.hc-block .header .title{
	  color: #333;
    margin-right: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.icon-chart{
	  color:#33bd61
}
.icon-chart:before{
	  content:"\e621";
}
.hc-block .content{
	  padding: 1rem 0;
    font-size: 1.4rem;
    border-top: 0.1rem solid #d4d4d4;
}
.departInfo .depart-content{
	  color: #666;
    line-height: 2.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.departInfo .depart-city{
	
}
.departInfo .depart-date{
	
}
.hc-block .icon-comment{
	   color:#33bd61;
}
.icon-comment:before{
	   content:"\e68e";
}
.content .comment-block{
	   padding:1rem 0;
}
.content .comment-content ul{
	   margin-bottom:-1rem;
}
.comment-block .comment-brief{
	   margin-bottom:0.5rem;
	   content: "";
     display: table;
     width:100%;
}
.comment-brief:before{
	   content: "";
     display: table;
}
.comment-block .comment-txt{
	   line-height: 1.5;
     max-height: 4.2rem;
     overflow: hidden;
}
.comment-block .comment-brief .icon{
     margin-right: 0.5rem;
     float:left;
}
.icon-people:before{
	   content:"\e607";
}
.comment-block .comment-brief .comment-write{
	   float: left;
     color: #333;
     font-size: 1.6rem;
     margin-right: 3px;
}
.comment-block .comment-brief .comment-tag{
	   float: left;
     margin-left: 0.5rem;
     color: #fff;
     font-size: 1rem;
     padding: 0.2rem 0.3rem;
     background: #fca542;
     border-radius: 0.2rem;
}
.comment-block .comment-brief .comment-date{
	   float: right;
     color: #999;
}
.comment-block .comment-txt{
	   line-height: 1.5;
     max-height: 4.2rem;
     overflow: hidden;
}
.links-block{
	   border-top: 0.1rem solid #d4d4d4;
     background-color: #fff;
}
.seperate-block{
	   margin-bottom: 1rem;
}
.links-block a{
	  display: block;
    position: relative;
    font-size: 1.4rem;
    line-height: 2.2rem;
    padding: 1rem;
    border-bottom: 0.1rem solid #d4d4d4;
}
.links-block .title{
	 color: #333;
	 margin-right: 3rem;
	 overflow: hidden;
	 text-overflow: ellipsis;
	 white-space: nowrap;
}
.links-block .icon-price{
    color: #33bd61;
}
.icon-price:before{
	 content:"\e615";
}
.links-block .icon-visa{
	  color: #33bd61;
}
.icon-visa:before{
	   content:"\e684";
}
.links-block .icon-questions{
	   color: #33bd61;
}
.icon-questions:before{
	   content:"\e625";
}

.icon-supper{
	  color: #33bd61;
}
.icon-supper:before{
	  content:"\e63a";
}
.content{
	  padding-bottom: 0.5rem;
	  padding: 1rem 0;
    font-size: 1.4rem;
    border-top: 0.1rem solid #d4d4d4;
}
.relatedProduct ul{
	  font-size: 0;
    letter-spacing: -0.4px;
}
.clearfix:before{
	  content: "";
    display: table;
}
.relatedProduct li{
	  display: inline-block;
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 50%;
}
.relatedProduct li:nth-child(odd){
	  padding-right: 0.5rem;
}
.relatedProduct li:nth-child(even){
	  padding-left: 0.5rem;
}
.relatedProduct a{
	  display: block;
    position: relative;
}
.relatedProduct .product-cover{
	 width:100%;
}
.relatedProduct .product-txt{
	  padding: 0.5rem 0.6rem 0.4rem;
    border: 0.1rem solid #d4d4d4;
    border-top: none;
}
.relatedProduct img{
	  display: block;
    width: 100%;
    border-top-left-radius: 0.1rem;
    border-top-right-radius: 0.1rem;
}
.relatedProduct h2{
	  font-size: 1.4rem;
    font-weight: 500;
    color: #666;
    line-height: 1.4;
    margin-bottom: 0.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.relatedProduct .product-price{
	    color: #ff7c70;
      font-size: 2.4rem;
}
.relatedProduct .money-symbol{
	    font-size: 1.6rem;
}

.hc-block .content{
	  border-top: none;
    padding-top: 0;
    padding: 10px 0;
    font-size: 1.4rem;
    overflow: hidden;
    position: relative;
}
.hc-block .icon-lala{
	  color: #fff;
    font-size: 1.4rem;
    margin-right: 10px;
    border-radius: 200px;
    border: 4px solid #33bd61;
    background-color: #33bd61;
    white-space: nowrap;
    padding-right:10px;
}
.icon-lala:before{
	  content:"\e68c";
}
.btn-footer{
	  position:fixed;
    bottom: -0.1rem;
    left: 0%;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    padding: 0.6rem 1.0rem 0.6rem 0;
    background-color: #fff;
    border-top: 0.1rem solid #d4d4d4;
    text-align: center;
}
.btn-footer .simple-buttons{
	  float: left;
    position: relative;
    box-sizing: border-box;
    width: 50%;
    padding: 0.5rem 0;
}
.btn-footer .simple-buttons li{
	  float: left;
    width: 50%;
    box-sizing: border-box;
    border-right: 0.1rem solid #d4d4d4;
    color:#33bd61;
}
.btn-footer .simple-buttons i{
	  font-size: 2.2rem;
    line-height: 2.5rem;
    vertical-align: middle;
    position: relative;
    top: 0;
}
.icon-telephone:before{
	  content: "\e634";
}
.icon-start:before{
	  content: "\e69d";
}
.btn-footer  .order-button{
	  float: right;
    width: 50%;
    height: 3.8rem;
    line-height: 3.8rem;
    color: #fff;
    font-size: 1.4rem;
    background-color: #ff7c70;
    border-radius: 0.3rem;
    box-shadow: 0.1rem 0.1rem 0.3rem #999;
}
.btn-footer  .order-button i{
	  font-size: 1.8rem;
    vertical-align: middle;
    position: relative;
    top: -0.2rem;
    margin-right: 0.6rem;
}
.icon-edit:before{
	  content: "\e6d9";
}